# Setup in CircleCI account the following ENV variables:
# IS_PRODUCTION (default: 0)
# IS_ENTERPRISE (default: 0)
# PACKAGECLOUD_ORGANIZATION (default: stackstorm)
# PACKAGECLOUD_TOKEN
defaults: &defaults
  working_directory: ~/st2-rbac-backend
  docker:
    - image: ruby:2.4.4
  environment:
    ST2_REPO_PATH: "/tmp/st2"

version: 2
jobs:
  build_and_test_python27:
    docker:
      - image: circleci/python:2.7
      - image: rabbitmq:3
      - image: mongo:3.4

    steps:
      - checkout
      - run:
          name: Clone StackStorm/st2 repo
          command: |
            make .clone_st2_repo
      - restore_cache:
          key: v1-dependency-cache-py27-{{ checksum "/tmp/st2/requirements.txt" }}
      - run:
          name: Download and install dependencies
          command: |
            make requirements
      - run:
          name: Run lint and tests (Python 2.7)
          command: |
            source virtualenv/bin/activate
            make play
            make .lint
            make .unit-tests
      - save_cache:
          key: v1-dependency-cache-py27-{{ checksum "/tmp/st2/requirements.txt" }}
          paths:
            - ~/.cache/pip
            - ~/.apt-cache
  build_and_test_python36:
    docker:
      - image: circleci/python:3.6
      - image: rabbitmq:3
      - image: mongo:3.4

    steps:
      - checkout
      - run:
          name: Clone StackStorm/st2 repo
          command: |
            make .clone_st2_repo
      - restore_cache:
          key: v1-dependency-cache-py36-{{ checksum "/tmp/st2/requirements.txt" }}
      - run:
          name: Download and install dependencies
          command: |
            make requirements
      - run:
          name: Run lint and tests (Python 3.6)
          command: |
            source virtualenv/bin/activate
            make play
            make .lint
            make .unit-tests
      - save_cache:
          key: v1-dependency-cache-py36-{{ checksum "/tmp/st2/requirements.txt" }}
          paths:
            - ~/.cache/pip
            - ~/.apt-cache

workflows:
  version: 2
  # Workflow which runs on each posh
  build_test_deploy_on_push:
    jobs:
      - build_and_test_python27
      - build_and_test_python36
  build_test_nightly:
    jobs:
        - build_and_test_python27
        - build_and_test_python36
    triggers:
      # Run nightly build for the pack
      - schedule:
          # NOTE: We run it at 1 am UTC every day
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - master
