Source: st2-rbac-backend
Section: Python
Priority: optional
Maintainer: Extreme Networks <support@extremenetworks.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://www.extremenetworks.com/product/workflow-composer/

Package: st2-rbac-backend
Architecture: amd64
Pre-Depends: st2
Depends: ${misc:Depends}, crudini, st2
Description: RBAC backend for EWC
  RBAC Backend for Extreme Workflow Composer. Provides granual control over
  access to resources.
